<div *ngIf="loaded">
  <h1>{{viewingUser.username}}</h1>
  <br/>

  <!--<form (ngSubmit)="postTweet()" [formGroup]="tweetForm">-->
    <label for="inputTweet">Tweet:</label>
    <input type="text" id="inputTweet" [(ngModel)]="tweetMessage">
    <!--<div *ngIf="tweetForm.get('tweet').dirty &&
      tweetForm.get('tweet').invalid">
      This is invalid.
    </div>-->
    <button (click)="postTweet(tweetMessage)">Post tweet</button>
    <!--<button [disabled]="tweetForm.invalid" (click)="postTweet(tweetMessage)">Post tweet</button>-->
  <!--</form>-->
  <br/>
  <div>
    {{viewingUser.username}}'s tweets:

    <table>
      <tr>
        <td>Username</td>
        <td>Date</td>
        <td>Message</td>
        <td>Rating</td>
      </tr>
      <tr *ngFor="let tweet of viewingTweets">
        <td>{{tweet.poster.username}}</td>
        <td>{{tweet.tweetDate}}</td>
        <td>{{tweet.message}}</td>
        <td>{{tweet.rating}}</td>
      </tr>
    </table>
  </div>
  <br/>
  <div>
    {{viewingUser.username}}'s feed:<br/>
    <table>
      <tr>
        <td>Username</td>
        <td>Date</td>
        <td>Message</td>
        <td>Rating</td>
      </tr>
      <tr *ngFor="let tweet of viewingFeed">
        <td>{{tweet.poster.username}}</td>
        <td>{{tweet.tweetDate}}</td>
        <td>{{tweet.message}}</td>
        <td>{{tweet.rating}}</td>
      </tr>
    </table>
  </div>
</div>
<!--
  <a href="${request.contextPath}/faces/dashboard.xhtml?username=#{profileController.username}">My dashboard</a>
  <br /> S0
  <h:panelGrid columns="2" cellpadding="5">
    <h:outputText value="Photo" />
    <h:outputText value="#{profileController.username}" />
  </h:panelGrid>
  S1
  <p:dataTable id="list" var="tweet" value="#{profileController.lastTweets}">
    <p:column headerText="username">
      <h:outputText value="#{profileController.getUsernameFromTweet(tweet)}" />
    </p:column>
    <p:column headerText="tweet">
      <h:outputText value="#{tweet.message}" />
    </p:column>
    <p:column headerText="time">
      <h:outputText value="#{tweet.date}" />
    </p:column>
  </p:dataTable>
  S2 - Details
  <h:panelGrid columns="2" cellpadding="5">
    <h:outputText value="Username" />
    <h:outputText value="#{profileController.user.username}" />
    <h:outputText value="Location" />
    <h:outputText value="#{profileController.user.location}" />
    <h:outputText value="Website" />
    <a href="#{profileController.user.website}">#{profileController.user.website}</a>
    <h:outputText value="Bio" />
    <h:outputText value="#{profileController.user.bio}" />
  </h:panelGrid>
  S3
  <h:panelGrid columns="2" cellpadding="5">
    <h:outputText value="#{profileController.user.following.size()} following" />
    <h:outputText value="#{profileController.user.followers.size()} followers" />
    <h:outputText value="Tweets" />
    <h:outputText value="#{profileController.tweetCount}" />
  </h:panelGrid>
  S4 - Following
  <h:panelGrid columns="4" cellpadding="5">
    <ui:repeat value="#{profileController.user.following}" var="following">
      <a href="${request.contextPath}/faces/profile.xhtml?username=#{following.username}">#{following.username}</a>
    </ui:repeat>
  </h:panelGrid>
  S4 - Followers
  <h:panelGrid columns="4" cellpadding="5">
    <ui:repeat value="#{profileController.user.followers}" var="follower">
      <a href="${request.contextPath}/faces/profile.xhtml?username=#{follower.username}">#{follower.username}</a>
    </ui:repeat>
  </h:panelGrid>
  !-->